Agente_Atendente_Completo.json
{
  "name": "Agente Atendente Completo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2720,
        80
      ],
      "id": "bf9fba22-b230-417c-8d94-dca4de1c7693",
      "name": "Webhook",
      "webhookId": "6bec9177-4bdc-42cc-80f6-430147efa6a0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57e99e34-307a-4ec5-b801-777f1ffd10d8",
              "name": "lead_nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "a19a5960-366b-4ee5-821d-5b88badd7362",
              "name": "Mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "0edfadd4-6097-4c42-8353-0176dabe9d82",
              "name": "lead_id",
              "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}",
              "type": "string"
            },
            {
              "id": "fd30f0e1-4c0f-4173-8300-dfbe465b3162",
              "name": "base64",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2540,
        80
      ],
      "id": "e7e37d00-43f6-4fd9-a6d9-048054486c08",
      "name": "Simplificando Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e2c2f3b2-7cde-4623-b5a1-27ce372791a1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4d776686-7a5d-4833-88f5-3a12682a9dc4",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        120
      ],
      "id": "e24bc2a2-fd37-467e-b9bc-729965a152e3",
      "name": "If"
    },
    {
      "parameters": {
        "tableId": "Leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead_nome",
              "fieldValue": "={{ $('Simplificando Dados').item.json.lead_nome }}"
            },
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $('Simplificando Dados').item.json.lead_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1140,
        220
      ],
      "id": "2050a8ef-6550-4972-9c57-5c263c344a2e",
      "name": "Criar Usuario",
      "credentials": {
        "supabaseApi": {
          "id": "GpVSBpGV1YEdasVf",
          "name": "Supabase RAG"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Leads",
        "filters": {
          "conditions": [
            {
              "keyName": "lead_id",
              "keyValue": "={{ $('Simplificando Dados').item.json.lead_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        820,
        120
      ],
      "id": "ffb7ed1a-51a3-4ac6-b905-91f4ea83e985",
      "name": "Verificar Usuario",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "GpVSBpGV1YEdasVf",
          "name": "Supabase RAG"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1300,
        120
      ],
      "id": "3710d317-d40f-4309-925a-f71295ddac8f",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields4').item.json.mensagens }}",
        "options": {
          "systemMessage": "=# Instruções\nVocê é um agente de suporte responda qualquer pergunta feita pelo usuario.\n\n# Restrições\n- Adapte o fluxo da conversa conforme as necessidades do usuário, porém evite responder perguntas fora do seu papel, atenha-se a suas <instruções> e função;\n- Nunca invente informações, atenha-se apenas as suas informações fornecidas;\n- Responda apenas com informações que você sabe e tem certeza;\n- Responda o usuário no idioma que ele estiver falando;\n- Nunca envie links coletados da base vetorial;\n\n# Variáveis\nData atual: {{ $now }}\n\n\n# Contexto Extra"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1540,
        120
      ],
      "id": "7f64bf77-abcc-47a4-a2f6-0fa4d2aac99a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        300
      ],
      "id": "43daec1c-ecd6-4ea3-b45a-a4b49070e6b9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "npEbEoRowpq9ZJeu",
          "name": "OpenAi Wender"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2720,
        900
      ],
      "id": "f72fa883-cf22-44e0-8eeb-00be794b857f",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "067f6b2a-f763-44e9-b2cd-8c96ecba22a1",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2940,
        900
      ],
      "id": "fa37c36c-3daf-4032-85dc-1026201a3799",
      "name": "mensagem minha?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d2fc58e1-fcbc-4188-b31e-8e3a450e393f",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.documentMessage.mimetype }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e8a8ac1c-b9c4-4437-841c-a822707973cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8703962b-f675-44e0-b094-77fdd76ea612",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e303006e-a39c-4f93-b390-b2a03301b588",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60c6a822-fdfa-49b2-8dc1-158f8828982e",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Outro"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1700,
        60
      ],
      "id": "b621bdf0-ba52-4ca3-9794-5b8c34c3df95",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "audio/ogg; codecs=opus"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1360,
        300
      ],
      "id": "80ff30e9-dd55-4cf5-83da-23924fa9dcca",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d618a8e1-4948-43be-8bb4-6d48c6b6d14d",
              "name": "base64",
              "value": "={{ $('Simplificando Dados').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        300
      ],
      "id": "46076597-9206-4c94-a3ed-a58a7eafa303",
      "name": "Base64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8599b108-560e-4615-bb10-3395b43b5219",
              "name": "Mensagem",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -100
      ],
      "id": "104ea394-1b0a-4d80-b21d-c1997d2bb0de",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59cab80f-2a1c-4da0-97a0-3d0144b538ed",
              "name": "Mensagem",
              "value": "={{ $('Simplificando Dados').item.json.Mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        100
      ],
      "id": "2b2e656b-9542-4330-b332-16b365cfb920",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c39a4ec-932b-40db-9905-177c4f8dd061",
              "name": "Mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        300
      ],
      "id": "a66a98dc-bffa-4122-b4a8-f1278fe3be46",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1200,
        300
      ],
      "id": "171a1413-9d40-4057-8a1a-da8dd9ff5ec8",
      "name": "Transcreve Audio",
      "credentials": {
        "openAiApi": {
          "id": "npEbEoRowpq9ZJeu",
          "name": "OpenAi Wender"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -800,
        100
      ],
      "id": "9103c4e2-7e52-4176-a411-4674777c513d",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3220,
        260
      ],
      "id": "b7e62d8b-5d77-4536-82f0-e046844dd403",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d618a8e1-4948-43be-8bb4-6d48c6b6d14d",
              "name": "mensagem",
              "value": "={{ $('AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2580,
        260
      ],
      "id": "5b79fc70-397b-415c-a4d2-793961100031",
      "name": "Mensagem"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.mensagem }}",
        "voice": "shimmer",
        "options": {
          "response_format": "mp3"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2740,
        260
      ],
      "id": "d1e0c908-ac93-4016-ae9f-4a570239a6f1",
      "name": "Gerar audio",
      "credentials": {
        "openAiApi": {
          "id": "npEbEoRowpq9ZJeu",
          "name": "OpenAi Wender"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2900,
        260
      ],
      "id": "3f2049a9-9f79-4416-8708-5c665fcdbf7e",
      "name": "Audio para Base64"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "wender",
        "remoteJid": "={{ $('Simplificando Dados').item.json.lead_id }}",
        "media": "={{ $json.base64 }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3060,
        260
      ],
      "id": "11c6a3ff-8e9d-49cc-9d38-38fca50d89a9",
      "name": "Enviar Audio",
      "credentials": {
        "evolutionApi": {
          "id": "t2ilPQDCFJX7HQvY",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Simplificando Dados').item.json.lead_id }}",
        "messageText": "={{ $json['output.mensagens'] }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2940,
        0
      ],
      "id": "45d20e0b-70d0-4e99-850d-59704fb01f9b",
      "name": "Enviar Mensagem",
      "credentials": {
        "evolutionApi": {
          "id": "t2ilPQDCFJX7HQvY",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ffc3cd7-ee75-4f99-af42-227ac65266a3",
              "name": "mensagem",
              "value": "={{ $json.Mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2380,
        80
      ],
      "id": "5d34445a-ac3f-4e80-82e8-23dd5d516d97",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Simplificando Dados').item.json.lead_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1520,
        300
      ],
      "id": "0b7459dd-f74a-4eec-904c-f290140d851f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Twbkvr7kIzRPWk7Q",
          "name": "Postgres RAG"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Simplificando Dados').item.json.lead_id }}_buffer",
        "messageData": "={{ $json.Mensagem }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -500,
        120
      ],
      "id": "80883fe2-bd7a-4c52-bfcc-57cd7a956980",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "vmD1NBdOqDOtG38d",
          "name": "Redis "
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -100,
        120
      ],
      "id": "eed530d9-2cce-4980-8c44-fbad4c614c87",
      "name": "Wait",
      "webhookId": "2a7f56f6-b7f0-43f1-9a83-c4404f9aeb02"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagens",
        "key": "={{ $('Simplificando Dados').item.json.lead_id }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -280,
        120
      ],
      "id": "645c0adf-5f16-46e1-9945-4c8a0e3668a5",
      "name": "Redis Buffer 1",
      "credentials": {
        "redis": {
          "id": "vmD1NBdOqDOtG38d",
          "name": "Redis "
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagens",
        "key": "={{ $('Simplificando Dados').item.json.lead_id }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        60,
        120
      ],
      "id": "9a512751-0c83-4252-8610-dfaba01039a2",
      "name": "Redis Buffer 2",
      "credentials": {
        "redis": {
          "id": "vmD1NBdOqDOtG38d",
          "name": "Redis "
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96f4bc6a-cdb4-4413-930f-5ef9e388912a",
              "leftValue": "={{ $('Redis Buffer 1').item.json.mensagens.last() }}",
              "rightValue": "={{ $json.mensagens.last() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        120
      ],
      "id": "568e1858-e813-4fb1-8f03-503fe70b2b44",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        260
      ],
      "id": "9ddfb0a7-bae1-4013-940e-74c94e4a4c72",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3feb714-befb-47fc-8424-7c60d673bf10",
              "name": "mensagens",
              "value": "={{ $json.mensagens.join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        120
      ],
      "id": "feb862e6-2dbe-4a12-8a93-c99164dbc358",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Simplificando Dados').item.json.lead_id }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        500,
        20
      ],
      "id": "be482fd2-99fc-4f12-bbeb-7ab579a3b12f",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "vmD1NBdOqDOtG38d",
          "name": "Redis "
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "o que e esta imagem?",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1200,
        -100
      ],
      "id": "cb1f76f1-bda4-4b1b-b7e7-31df88279a55",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "npEbEoRowpq9ZJeu",
          "name": "OpenAi Wender"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "958d7bf6-0f55-4dda-b343-8aa2464b57b8",
              "name": "base64",
              "value": "={{ $('Simplificando Dados').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        -100
      ],
      "id": "8c37a3ae-8a66-40ec-95aa-69c607c260fb",
      "name": "Base65"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "image/png"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1360,
        -100
      ],
      "id": "a39a66ec-7d3a-49df-89a3-1915d1c4096b",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47267568-64e7-4fdc-bf35-48fea0958f71",
              "name": "Erro",
              "value": "<ErroFormatoMensagem>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        500
      ],
      "id": "d6023c0d-bfec-466a-b648-311365071ea0",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f71a6ca7-3ee4-4dfe-9674-75a09499fdf5",
              "name": "Mensagem",
              "value": "={{ $json.Erro }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        500
      ],
      "id": "5f903fc3-024c-45ce-adb7-9a55821308e9",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4d8f75b-8cee-4f49-af49-6d46a60ab7ed",
              "name": "base64",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        -300
      ],
      "id": "c45eb6cc-fa5f-4f53-bab6-5a55aea1ddc7",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1360,
        -300
      ],
      "id": "726288b3-9a0e-4745-887b-6c70c462f32d",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1200,
        -300
      ],
      "id": "295e8c62-9ef2-4957-8182-ea9755b0dd24",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25937a4d-f972-49b2-ac50-a294730cf3df",
              "name": "Mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -300
      ],
      "id": "54de677a-1727-4b99-b08c-34979db65a09",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        2000,
        280
      ],
      "id": "dcf04575-4a94-43c8-8a73-2533312a0188",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1900,
        400
      ],
      "id": "59708059-9e4d-4e92-89be-1c63f5169418",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "npEbEoRowpq9ZJeu",
          "name": "OpenAi Wender"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"mensagens\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t},\n  \"required\": [\"mensagens\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2140,
        400
      ],
      "id": "f6491e89-5f81-4ee7-bc61-86c3faf56a59",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem   ## Formatação   - Divida as mensagens para que fiquem naturais e humanizadas;   - Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caracteres);   - Não separe mensagens vazias;   - Use quebras de linhas (\\n\\n) após pontos finais;   - Para negrito (bold) use apenas um  nunca duas * (exemplo: negrito).   Exemplo de formato JSON:   {   \"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]   }"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1900,
        120
      ],
      "id": "0d44c96d-b698-4226-8923-f9f977ae53f3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2540,
        20
      ],
      "id": "253dbe33-d286-46be-9aa4-979e35bd4a87",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2720,
        -20
      ],
      "id": "9b9b00a1-b26c-40b5-98cc-31e26670bb26",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3080,
        0
      ],
      "id": "cd2ae454-7d5b-42c9-b87a-1ecc9e4ef68a",
      "name": "Wait1",
      "webhookId": "6d062ced-1c28-481e-8b96-8b764ba8f1d3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2940,
        -160
      ],
      "id": "796f81f4-1087-4216-8014-6eac518fd4fe",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c28a00c-4a47-41e0-a3a7-e2cf1beb59c0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c8863ffb-7c0c-4dd4-a9be-ee5a4e7dc249",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e079c7d3-6335-4883-8ee8-32cd6c744bbd",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.documentMessage.mimetype }}",
                    "rightValue": "=application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2320,
        120
      ],
      "id": "78182410-64d3-4568-8106-b0ef7404f9e9",
      "name": "Texto ou Audio?"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1600,
        300
      ],
      "id": "ad004dc0-4a4a-4d77-b45e-a9faeaccf87c",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Essa tool desativa o seu atendimento e passa a conversa para o atendente humano. Após a desativação, você não poderá mais falar com o atendente.\n\n\nApenas fale sobre a possibilidade de um atendimento humano caso seja explicitamente requisitado esse tipo de atendimento, ou caso o clima da conversa com o usuário ficar muito negativo.\n\n\nAtende de desativar, reforce para o cliente sobre quais assuntos você pode ajudá-lo e confirme se mesmo assim ele deseja seguir com o atendimento humano.\n\n\nSempre solicite uma dupla confirmação do usuário antes de desativar o seu atendimento.",
        "operation": "set",
        "key": "={{ $('Simplificando Dados').item.json.lead_id }}_status",
        "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Definir como \"Ativo\" ou \"Desativado\"\n\nSempre manter ativo,\nDesativar somente apos dupla confirmaçao explicita do usuario.`, 'string') }}",
        "expire": true,
        "ttl": 900
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        1800,
        300
      ],
      "id": "caff4c69-03d4-41f8-ac67-0c6712372cb7",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "vmD1NBdOqDOtG38d",
          "name": "Redis "
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "status_agente",
        "key": "={{ $('Simplificando Dados').item.json.lead_id }}_status",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2240,
        80
      ],
      "id": "c0fc7c6b-8038-4710-920e-912350f59fe2",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "vmD1NBdOqDOtG38d",
          "name": "Redis "
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1960,
        -80
      ],
      "id": "dff008a2-8fc5-4fee-a841-2d07aee54bfb",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5978d1b-3651-4718-bf09-a3754cb1b615",
              "leftValue": "={{ $json.status_agente }}",
              "rightValue": "Desativado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2100,
        80
      ],
      "id": "3eacceef-16e9-422c-8ba8-d65c6e1a1bb0",
      "name": "Agente Desativado?"
    },
    {
      "parameters": {
        "content": "## Responder com audio ou texto \n",
        "height": 620,
        "width": 1220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2280,
        -180
      ],
      "id": "5c287b78-ab37-46e3-a3a7-d0adc9b49014",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agente IA",
        "height": 580,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -20
      ],
      "id": "4de3eeb7-5a5e-4739-a174-78d8a1e36a31",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Verificar e cadastrar usuario no banco de dados",
        "height": 400,
        "width": 780,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -20
      ],
      "id": "c1c8101f-2aca-43ea-bb38-76631108fb25",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Buffer de mensagens",
        "height": 460,
        "width": 1240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        -20
      ],
      "id": "2586e6cb-5e21-45b9-a621-8e00a2e9ad75",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Converter\nConverte audio/texto/imagem/PDF",
        "height": 1100,
        "width": 1180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1820,
        -400
      ],
      "id": "f4217f1c-c6e2-45ca-9c40-49279c2bbd72",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Simplificando Dados",
        "height": 540,
        "width": 920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2760,
        -120
      ],
      "id": "a1e0611f-2114-4a47-a3f7-d343116f4368",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Simplificando Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplificando Dados": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Usuario": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Verificar Usuario": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mensagem minha?": {
      "main": [
        [],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Base65",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcreve Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Transcreve Audio": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "Gerar audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar audio": {
      "main": [
        [
          {
            "node": "Audio para Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio para Base64": {
      "main": [
        [
          {
            "node": "Enviar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Audio": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis Buffer 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis Buffer 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Buffer 1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Buffer 2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Verificar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base65": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Texto ou Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto ou Audio?": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Agente Desativado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Desativado?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2dedbe30-2c14-444d-8067-29e9591a19f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "WRj04giqyIV6jNnV",
  "tags": [
    {
      "createdAt": "2025-05-19T05:20:55.759Z",
      "updatedAt": "2025-05-19T05:20:55.759Z",
      "id": "6FSORoJ9XPwEOlwl",
      "name": "WENDER"
    }
  ]
}